<section class="section">
  <div class="container is-fluid">
    {{site-header
      currentUser=currentUser
      session=session
      login='login'
      logout='logout'
    }}
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Because NZ media sites are crap.
      </h1>
      <h2 class="subtitle">
        This is a aggregator across the most popular yet worst offenders.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    {{outlet}}
  </div>
</section>
