$primary: #757ffc;
$secondary: #454545;

$body-size: 14px;
$link: $secondary;
$link-hover: $primary;

@import "node_modules/bulma/bulma.sass";

@import "components/login";
@import "components/dropdown";
@import "components/card";
@import "components/skeleton-loading";


@import "components/feed-item-view-card";
@import "components/feed-item-view-list";
@import "components/feed-item-list-menu";
@import "components/site-header";
@import "components/site-footer";
@import "components/user-edit";

@import "vendor/pace";
