<nav class="navbar">

  <div class="navbar-brand">
    {{#link-to "news" tagName="a" classNames="navbar-item"}}
      <img src="/assets/favicon.png" alt="haps.io" class="haps-image"><span class="haps-text">haps.io</span>
    {{/link-to}}
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

    </div>
  </div>
</nav>