<nav class="navbar">

  <div class="navbar-brand">
    {{#link-to "news" tagName="a" classNames="navbar-item"}}
      <img src="/assets/favicon.png" alt="haps.io" class="haps-image"><span class="haps-text">haps.io</span>
    {{/link-to}}
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

      <div class="navbar-item">
        {{#rl-dropdown-container class="aurora-dropdown-menu"}}

          {{#rl-dropdown-toggle tagName="div" class="dropdown-title Open"}}
            <a class="button">
              <span class="icon">
          <i class="fas fa-filter"></i>
            </span>
              <span>Filters</span>
            </a>
          {{/rl-dropdown-toggle}}
          {{#rl-dropdown tagName="div" class="menu-dropdown" closeOnChildClick=false}}

            <li class="is-disabled has-text-centered">
              <p>Filters are created dynamically using natural language learning intelligence</p>

              <p>These don't work just yet</p>
            </li>

          <li class="dropdown-divider"></li>

            {{classification-list
              classifications=classifications
            }}
          {{/rl-dropdown}}
        {{/rl-dropdown-container}}
      </div>

    </div>
  </div>
</nav>