<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <span class="footer-logo">haps.io</span> a classic Chris Turner production.
      </p>
    </div>
  </div>
</footer>