<footer class="footer">
  <div class="content has-text-centered">
    <p>
      ...a classic <a href="mailto:chris@forloop.space"  class="footer-logo">Chris Turner</a> application.
    </p>
  </div>
</footer>