.feed-item-view-card {
  padding: 10px;
  transition: all linear .1s;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    background: #f7f7f7;

    .tag {
      background: #ededed;
    }

  }

  .item-image {
    height: 78px;
    margin-right: 20px;
    width: 130px;

    img {
      border-radius: .2rem;
      width: 100%;
      height: 100%;
    }

    .no-image {
      height: 100%;
      width: 100%;
      display: block;
      background: #ededed;
      text-align: center;
      font-size: 40px;
      padding-top: 8px;
      font-weight: 700;
    }
  }

  .item-title {
    font-size: 14px;
    line-height: normal;
    color: #333;
    font-family: sans-serif;
    font-weight: 700;
  }

  .item-description {
    color: #9e9e9e;
    font-size: 13px;
    line-height: 17px;
    margin-top: .25rem;
    margin-bottom: 10px;
  }

  .item-body {
    margin-top: 20px;
  }

  .item-meta {
    color: #a3a3a2;
    font-size: 11px;
    margin-top: 1px;
  }

  .item-source {
    color: #4a4a4a
  }

  .item-link {
    margin: 15px 0;
  }

  .item-actions {
    background: rgba(247, 247, 247, 0.38);

    .fa-check {
      :hover {
        color: $primary;
      }
    }
  }

}
