$grey-500: #f4f4f4;

.navbar {

  .button {
    line-height: 1.3 !important;
  }

  .haps-image {
    max-height: 32px !important;
  }

  .haps-text {
    color: $primary;
    margin-left: 7px;
    font-weight: 700;
  }

  border-bottom: 2px solid $grey-500;

  .active {
    color: $link;
  }

  .navbar-item {

    &:hover {
      color: $link;
      background: #fff;
    }

  }

  .aurora-dropdown-menu .dropdown-title {
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    line-height: normal;
    height: auto;

    &:hover {
      color: #fff;
    }

  }

  .aurora-dropdown-menu .menu-dropdown {
    top: calc(50% + 40px);
  }

  .navbar-item img {
    max-height: none;
  }

  .people-avatar {

    .fa-angle-down {
      color: $primary !important;
      margin-top: 12px;
      margin-left: 5px;
    }

    img {
      border: 1px solid $primary;
      border-radius: 50%;
      height: 38px;
      width: 38px;
      box-shadow: 0 0 0 2px #fff;

      position: relative;
      vertical-align: top;
      margin: 0;
    }
  }
}
