.user-default-view {
  -webkit-font-smoothing: antialiased;
  clear: both;
  color: #757575;
  font-size: .75rem;
  letter-spacing: 0;
  line-height: 1em;
  text-transform: uppercase;

  margin-top: 30px ;
}
