<div class="user-default-view">
  <h2>Default View</h2>
</div>

<div class="columns is-multiline">
  {{user-default-view
    selectedType=selectedType
    toggleActiveType='toggleActiveType'
    title="Card View"
    description="Looks prettyish? "
    type="card"
  }}

  {{user-default-view
    selectedType=selectedType
    toggleActiveType='toggleActiveType'
    title="List View"
    description="Compact without images"
    type="list"
  }}
</div>
