<section class="section">
  <div class="container is-fluid">
    {{feed-item-list
      infinityLoad=infinityLoad
      newsItems=newsItems
      session=session
      user=user
      read='read'
    }}
  </div>
</section>