<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <p>Hide news articles you're not interested in. Once set here, you might need to refresh the news page for
          changes to take effect.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    {{classification-list
      classifications=classifications
      user=user
    }}
  </div>
</section>