<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="notification has-text-centered">
          Not working yet!
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    {{classification-list
      classifications=classifications
    }}
  </div>
</section>