<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <h3 class="title">Hide the boring ones.</h3>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    {{classification-list
      classifications=classifications
      user=user
    }}
  </div>
</section>