{{#site-message}}
  Hide the boring ones
{{/site-message}}

<section class="section">
  <div class="container is-fluid">
    {{classification-list
      infinityLoad=infinityLoad
      classifications=classifications
      user=user
    }}
  </div>
</section>