<div class="column is-6">

  <div class="level">
    <div class="level-left">
      {{item.name}}
    </div>

    <div class="level-right">
      {{x-toggle theme='material' value=myValue onToggle=(action (mut myValue))}}
    </div>
  </div>


</div>