{{#site-message}}
  News you threw away like old socks
{{/site-message}}

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-3">
        {{feed-item-list
          infinityLoad=infinityLoad
          newsItems=newsItems
        }}
      </div>
    </div>
  </div>
</section>