{{#if feed-item-list}}
  {{#site-message}}
    Old news you've hidden
  {{/site-message}}
{{else}}
  {{#site-message}}
    When you hide news you'll find it here
  {{/site-message}}
{{/if}}

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-3">
        {{feed-item-list
          infinityLoad=infinityLoad
          newsItems=newsItems
        }}
      </div>
    </div>
  </div>
</section>